In [3]:
import sys
#!{sys.executable} -m pip install sklearn.
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [17]:

# Load scikit's random forest classifier library.
from sklearn.ensemble import RandomForestClassifier

In [139]:
# Read the initial data from the .csv -file.
data = pd.read_csv('datasets_dataset.csv')
data

,ID,Week2_Quiz1,Week3_MP1,Week3_PR1,Week5_MP2,Week5_PR2,Week7_MP3,Week7_PR3,Week4_Quiz2,Week6_Quiz3,...,Week7_Stat3,Week8_Stat0,Week8_Stat1,Week8_Stat2,Week8_Stat3,Week9_Stat0,Week9_Stat1,Week9_Stat2,Week9_Stat3,Grade
0,ML-2020-1,5.00,15.0,5.0,16.09,5.00,21.88,5.0,5.00,5.0,...,0,5,4,0,4,8,6,1,0,4
1,ML-2020-2,3.33,15.0,5.0,17.83,5.00,22.27,5.0,4.00,5.0,...,8,5,2,0,0,25,3,2,5,4
2,ML-2020-3,1.67,13.0,5.0,15.22,5.00,27.05,2.5,5.00,5.0,...,0,8,2,0,0,9,0,1,0,3
3,ML-2020-4,2.50,14.0,5.0,10.00,5.00,31.02,5.0,3.13,5.0,...,4,10,0,0,0,7,6,0,0,3
4,ML-2020-6,0.00,15.0,5.0,12.17,4.93,15.91,5.0,4.67,5.0,...,6,8,5,1,1,5,3,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,ML-2020-60,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,...,0,28,0,22,0,1,0,0,0,0
103,ML-2020-58,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,...,0,0,0,0,0,3,0,0,0,0
104,ML-2020-94,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,...,0,0,0,0,0,0,0,0,0,0
105,ML-2020-9,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,...,0,0,0,0,0,6,0,0,0,0
106,ML-2020-86,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.00,0.0,...,0,0,0,0,0,0,0,0,0,0

In [140]:
# Set random seed.
np.random.seed(0)

In [141]:
# Setup our dataframe.
columns = ['Week2_Quiz1', 'Week3_MP1', 'Week3_PR1', 'Week5_MP2', 'Week5_PR2', 'Week7_MP3', 'Week7_PR3', 'Week6_Quiz3', 'Week4_Quiz2', 'Week8_Total', 'Grade']
df = pd.DataFrame(data, columns=columns)
df

,Week2_Quiz1,Week3_MP1,Week3_PR1,Week5_MP2,Week5_PR2,Week7_MP3,Week7_PR3,Week6_Quiz3,Week4_Quiz2,Week8_Total,Grade
0,5.00,15.0,5.0,16.09,5.00,21.88,5.0,5.0,5.00,82.97,4
1,3.33,15.0,5.0,17.83,5.00,22.27,5.0,5.0,4.00,82.43,4
2,1.67,13.0,5.0,15.22,5.00,27.05,2.5,5.0,5.00,79.44,3
3,2.50,14.0,5.0,10.00,5.00,31.02,5.0,5.0,3.13,80.65,3
4,0.00,15.0,5.0,12.17,4.93,15.91,5.0,5.0,4.67,67.68,2
...,...,...,...,...,...,...,...,...,...,...,...
102,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0
103,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0
104,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0
105,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0
106,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.00,0.00,0

In [142]:
# Remove rows with the grade 0.
#df['Grade'] = data['Grade'].astype(int)
#df = df[df['Grade'] != 0]
#df

In [143]:
# Create a new column that for each row, generates a random number between 0 and 1, and
# if that value is less than or equal to .75, then sets the value of that cell as True
# and false otherwise. This is a quick and dirty way of randomly assigning some rows to
# be used as the training data and some as the test data.
df['is_train'] = np.random.uniform(0, 1, len(df)) <= .75

# View the top 5 rows
df.head()

,Week2_Quiz1,Week3_MP1,Week3_PR1,Week5_MP2,Week5_PR2,Week7_MP3,Week7_PR3,Week6_Quiz3,Week4_Quiz2,Week8_Total,Grade,is_train
0,5.00,15.0,5.0,16.09,5.00,21.88,5.0,5.0,5.00,82.97,4,True
1,3.33,15.0,5.0,17.83,5.00,22.27,5.0,5.0,4.00,82.43,4,True
2,1.67,13.0,5.0,15.22,5.00,27.05,2.5,5.0,5.00,79.44,3,True
3,2.50,14.0,5.0,10.00,5.00,31.02,5.0,5.0,3.13,80.65,3,True
4,0.00,15.0,5.0,12.17,4.93,15.91,5.0,5.0,4.67,67.68,2,True

In [144]:
# Create two new dataframes, one with the training rows, one with the test rows
train, test = df[df['is_train']==True], df[df['is_train']==False]

In [145]:
# Show the number of observations for the test and training dataframes
print('Number of observations in the training data:', len(train))
print('Number of observations in the test data:',len(test))

Number of observations in the training data: 86
Number of observations in the test data: 21

In [146]:
# Create a list of the feature column's names
features = df.columns[:10]
features

Index(['Week2_Quiz1', 'Week3_MP1', 'Week3_PR1', 'Week5_MP2', 'Week5_PR2',
       'Week7_MP3', 'Week7_PR3', 'Week6_Quiz3', 'Week4_Quiz2', 'Week8_Total'],
      dtype='object')

In [147]:
# train['Grade'] contains the actual Grades names. Before we can use it,
# we need to convert each Grade string into a digit.
#y = pd.factorize(train['Grade'])[0]
y = train['Grade'].array
# View target
y

<PandasArray>
[4, 4, 3, 3, 2, 3, 0, 3, 0, 5, 4, 5, 4, 4, 4, 3, 2, 0, 4, 3, 0, 0, 4, 0, 5, 3,
 3, 4, 5, 3, 5, 4, 4, 3, 4, 2, 5, 4, 3, 4, 2, 5, 2, 0, 0, 4, 0, 0, 3, 4, 3, 0,
 3, 3, 5, 4, 5, 4, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
 0, 0, 0, 0, 0, 0, 0, 0]
Length: 86, dtype: int64

In [148]:
# Create a random forest Classifier. By convention, clf means 'Classifier'
clf = RandomForestClassifier(n_jobs=2, random_state=0)

# Train the Classifier to take the training features and learn how they relate
# to the training y (the species)
clf.fit(train[features], y)

RandomForestClassifier(n_jobs=2, random_state=0)

In [149]:
# Apply the Classifier we trained to the test data (which, remember, it has never seen before)
clf.predict(test[features])

array([5, 4, 0, 5, 4, 0, 0, 0, 3, 0, 3, 5, 0, 5, 4, 0, 4, 4, 0, 0, 0])

In [150]:
# View the predicted probabilities of the first 10 observations
clf.predict_proba(test[features])[0:10]

array([[0.  , 0.  , 0.  , 0.02, 0.98],
       [0.01, 0.03, 0.05, 0.78, 0.13],
       [1.  , 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.01, 0.31, 0.68],
       [0.  , 0.01, 0.47, 0.49, 0.03],
       [1.  , 0.  , 0.  , 0.  , 0.  ],
       [0.84, 0.07, 0.09, 0.  , 0.  ],
       [1.  , 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.84, 0.11, 0.05],
       [1.  , 0.  , 0.  , 0.  , 0.  ]])

In [151]:
# Collect predictions,
preds = clf.predict(test[features])

In [152]:
# View the PREDICTED species for the first five observations
preds[0:5]

array([5, 4, 0, 5, 4])

In [153]:
# View the ACTUAL species for the first five observations
test['Grade'].head()

7     5
8     4
10    0
13    5
17    4
Name: Grade, dtype: int64

In [154]:
# Create confusion matrix
pd.crosstab(test['Grade'], preds, rownames=['Actual Grade'], colnames=['Predicted Grade'])

Predicted Grade   0  3  4  5
Actual Grade
0                10  0  0  0
3                 0  2  0  0
4                 0  0  5  0
5                 0  0  0  4

In [155]:
# View a list of the features and their importance scores
list(zip(train[features], clf.feature_importances_))

[('Week2_Quiz1', 0.024433541683161447),
 ('Week3_MP1', 0.09521687329380463),
 ('Week3_PR1', 0.017526255423440874),
 ('Week5_MP2', 0.1424732336722108),
 ('Week5_PR2', 0.028805651142892047),
 ('Week7_MP3', 0.22058804833602996),
 ('Week7_PR3', 0.009679771819068846),
 ('Week6_Quiz3', 0.016275496485992167),
 ('Week4_Quiz2', 0.052544515097172007),
 ('Week8_Total', 0.3924566130462272)]